###
### PALO configuration file
###

################################################################################
#
# Configuration file info:
#
#  - the command line arguments are evaluated first, the configuration file is
#    evaluated after the command line arguments have been processed
#
#  - if you start palo with -n or --load-init-file on the command line, then
#    the init file is not read. The load-init-file options is ignored if given
#    in the configuration file. 
#
#  - a comment starts with a "#" sign
#
#  - parameters without additional parameters like "auto-load" or "auto-commit"
#    toggle a state from "true" to "false" and vice versa. You can declare
#    a "toggle" parameter more than once.
#
#  - if parameters with additional parameters like "worker" or "workerlogin"
#    are given more than once on the command line or the configuration file
#    only the last definition is valid.
#
#  - the parameters "admin", "http" are treated specially. All the 
#    definitions supplied on the command line / in the init file are used.
#
# For example:
# 
#  The default of "add-new-database" is true (see palo -?). If you supply
#  --add-new-database on the command line but not in the configuration file,
#  then the option will be set to false. If you supply add-new-database in the
#  configuration file but not on the command line then the option will also be
#  set to false. If you supply --add-new-database on the command line and in
#  the configuration file, then the option will be true again, as it is
#  toggled twice.
#  
#  The option "workerlogin" has one additional argument. If you supply
#  workerlogin on the command line and on the configuration file, then the
#  value supplied in the configuration will be taken.
#
#  If the http option is supplied for port A on the command line and for port B
#  in the configuration file, then both ports A and B are used.
#
################################################################################

### ############################################################################
### General options
### ############################################################################

## directory of online documentation 
# (default directory is "Api")
#
# template-directory Binary/Api
#

## load all databases on server start into memory which are defined in the
# palo.csv  (default state is "true")
#
# auto-load
#

## commit all changes on server shutdown
# (default state is "true")
#
# auto-commit
#

## try to add directories with OLAP database automatically and add them to
# palo.csv (default state is "true")
#
# add-new-databases
#

## splashing limits in MegaBytes
# generate an error if splashing requires more space than the first number
# generate a warning entry if splashing requires more space than the second 
# number generate a info entry if splashing requires more space than the third 
# number
#
# splash-limit 1000 500 100

##  
# Specifies the idle time after which the session is closed 
#
#session-timeout	3600

##  
# Goalseek algorithm can be executed on slices with maximum <cell_limit> cells (default 1000).
# Algorithm must complete within <timeout> miliseconds (default 10000).
# 
# goalseek-limit <cell_limit>
# goalseek-timeout <timeout>
#
# goalseek-limit 1000
# goalseek-timeout 10000

##
#
# Turns off saving of CSV files for cubes whenever possible. Only BIN files are saved.
# Reduces time needed for save
#
# no-csv-save

## default value for database access right  
# Possible values: N, R, W, D (default D).
#
# default-db-right	R

### ############################################################################
### Server address and port for http interface
###
### an address can be "", a server name or an internet address
### example address 
###       "" (for all server internet addresses)
###       localhost
###       server.domain.net
###       192.168.1.2
###
### a port is a number
### ############################################################################

## http interface with server browser and online documentation
#
# admin		"" 7777
# admin		localhost 7777
# admin		server.domain.net 7777
# admin		192.168.1.2 7777
# admin		localhost 7770
# admin		localhost 7777
#

## http interface
#
http		"" 7777
# http		"" 7779
# http		localhost 7779
#

## cross-origin
# to enable http requests from any origin  
# cross-origin *

### ############################################################################
### Logging
### ############################################################################

## Logfile
# log to stdout (default)
# log - 
#
# log to stderr
# log + 
#
# log to a file
# log /var/log/palo.log
#

## Log-level
# levels
#    error (default)
#    warning
#    info
#    debug
#    trace
#
# verbose error
#
#verbose		info

  

### ############################################################################
### Worker 
### ############################################################################

## path to the worker
# worker <executable> <argument_1> ... <argument_n> 
#
# worker          /usr/bin/php5 /home/palo/worker.php
#

## use a worker for login
# if not set, then no login worker is used
# possible values:
#               information
#               authentication
#               authorization
#
# workerlogin     authorization
#

## use cube workers (cell value changes)
# (default state is "false")
#
# use-cube-worker
#

## use dimension worker (element create, destroy, rename)
# (default state is "false")
#
# use-dimension-worker
#

## enable windows SSO authentication
# (default state is "false")
#
# windows-sso
#

## enable cell drillthrough
# (default state is "false")
#
enable-drillthrough
#



### ############################################################################
### Cache
### ############################################################################

## The server side cache is configured to default to 1000000 cells per cube.
#
# cache-barrier <maximum of number_of_cells to store in each Cube cache> 
# (default 1000000)
#
# In order to turn off the cache set "cache-barrier" to "0". 
#
# cache-barrier 0
#



### ############################################################################
### Undo
### ############################################################################

##
# In a locked cube area it is possible to undo changes. Each lock can use
# <undo_memory_size_in_bytes_per_lock> bytes in memory and
# <undo_file_size_in_bytes_per_lock> bytes in files for storing changes:
#
# undo-memory-size <undo_memory_size_in_bytes_per_lock>
# undo-file-size <undo_file_size_in_bytes_per_lock>
#
# undo-memory-size 10000000
# undo-file-size  100000000
#



### ############################################################################
### SSL
### ############################################################################

##
# Set the encryption type
#	optional
#	required
#
# If optional is selected, then you can use HTTPS. If required is selected, then only
# /server/info will function unencrypted. All other functions require a HTTPS
# connection.
#
# If you specify optional or required each http or admin command must be followed
# by a https command containing the HTTPS port to use.
#
# encryption optional

##
# Set the https port
#
# If you specify optional or required as encryption type, then each http or 
# admin command must be followed by a https command containing the HTTPS port to
# use.
#
https 7778

##
# The following certificates are need: a root certificate and a private 
# certificate signed be root authority. In addition a file with the
# diffie-hellman parameters must be supplied. The private certificate can be
# protected by a password. The pathes are relative to the data directory.
#
# key-files <ca> <private> <diffie-hellman>
# password <private-password>
#
# The files can be generated using the OpenSSL command line tool, see the
# OpenSSL documentation for details. Generate a self-signed certificate use:
#
# Root-Certificate and Server-Key (<ca> and <private> are identical):
# openssl req -x509 -nodes -days 365 -newkey rsa:1024 -keyout server.pem -out server.pem
#
# Diffie-Hellman paramater file:
# openssl dhparam -2 -outform PEM -out dh1024.pem 1024
#
# key-files server.pem server.pem dh1024.pem

## location of directory containing the HTTPS extension
#
# extensions <directory>
#

### ############################################################################
### FOR DEBUGGING ONLY, DO NOT USE IN A PRODUCTION SYSTEM
### ############################################################################

## generates a default session id 0000
#
# fake-session
#

### ############################################################################
### Autosave
### ############################################################################

## autosaves all the databases
#
# autosaves at an exact time once a day.
# autosave T HH:MM
#
# autosave T 23:59
#
# autosaves cyclically when a given amount of time elapses.
# autosave L HH:MM
#
# autosave L 10:10

### ############################################################################
### maximum-return-cells
### ############################################################################

##
# sets a maximum limit for cells return from an area call
# maximum-return-cells  <maximum_return_cells> ( default is 20000 )
#
#
# maximum-return-cells  10000

### ############################################################################
### Crypting
### ############################################################################

## turns on crypting of the database files. Newly saved files are crypted if this is set.
# crypt (default state is false)

## sets passphrase used for crypting/uncrypting of the database files.
## it is used also for uncrypting, so it has to be set even when crypting is off, but there are some already
## crypted files in the database.
# crypt-key	<passphrase>
