<?xml version="1.0" encoding="UTF-8"?>
<config>
	<persistence>
		<parameter name="backend">gen</parameter>
	</persistence>
	<encryption>
		<parameter name="password">proclos</parameter>
		<parameter name="repositoryEncryption">false</parameter>
	</encryption>
	<directories>
		<parameter name="customlib">customlib</parameter>
		<parameter name="logs">logs</parameter>
		<parameter name="localdata"></parameter>
		<parameter name="files">files</parameter>
		<parameter name="persistence">db</parameter>
		<parameter name="projects">projects</parameter>
		<parameter name="suiteconfig">../httpd/app/etc/config.php</parameter>
	</directories>
	<projects>
		<parameter name="validate">true</parameter>
		<parameter name="loglevel">info</parameter>
		<parameter name="graphUtil">ng</parameter>
	</projects>
	<executions>
		<parameter name="#failOnError">true</parameter>
		<parameter name="#logLimit">100</parameter>
		<parameter name="#syncMode">single</parameter>
		<parameter name="maxDirectThreads">7</parameter>
		<parameter name="maxParallelThreads">5</parameter>
	</executions>
</config>

