<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Jedox OLAP</title>
    <link href="/inc/style_palo.css" rel="stylesheet" type="text/css">
    <!--[if IE]>
    <style>
      body{
        overflow:auto;
      }
    </style>
    <![endif]-->
  </head>

  <body>	
  <script>
	function httpGet(theUrl)
	{
		//alert(theUrl);
	    var xmlHttp = null;
	    xmlHttp = new XMLHttpRequest();
		xmlHttp.open( "GET", theUrl, false );
		xmlHttp.send( null );
		//alert (xmlHttp.responseText);
    if (xmlHttp.status != 200) {
      alert(xmlHttp.responseText);
      return false;
    }
    return true;
	}
	function expandRanges(value)
	{
		var parts = value.split("-");
		var out = "";
		for (var i = 0; i < parts.length; i++) {
			if (i > 0) {
				var ids = parts[i-1].split(",");
				var istart = parseInt(ids[ids.length-1]);
				var ids = parts[i].split(",");
				var iend = parseInt(ids[0]);
				for(id = istart+1; id < iend; id++) {
					out += ","+id; 
				}				
				out += ","; 
			}
			out += parts[i];
		}
		return out;
	}
	var months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
	var monate = ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"	];
	var mesice = ["Leden", "Únor", "Březen", "Duben", "Květen", "Červen", "Červenec", "Srpen", "Září", "Říjen", "Listopad", "Prosinec"];
	
	function createNames(element)
	{
		var parts = element.split("#");
		if (parts.length > 1) {
			var indexes = eval("if(typeof "+parts[1]+" !== 'object') {null} else {"+parts[1]+"}") 
			if (indexes === null) {
				var expandedIndexes = expandRanges(parts[1]);
				var indexes = expandedIndexes.split(",");
			}
			var out="";
			for (var i = 0; i < indexes.length; i++) {
				if (i>0) {
					out+=",";
				}
				out+=parts[0]+indexes[i];
			}
		} else {
			var out=parts[0];
		}
		return out;
	}
	function createElement(database,dimension,element,children)
	{
		if (element == "") {
			return;
		}
		var myurl = location.protocol+"//"+location.host+"/element/create_bulk?sid=0000&database="+database+"&dimension="+dimension+"&name_elements="+encodeURI(createNames(element));
		if (children != "") {
			if (children[0] == "s" || children[0] == "S") {
				myurl += "&type=2";
			} else {
				myurl += "&type=4&children="+expandRanges(children);
			}
		} else {
			myurl += "&type=1";
		}
		if (httpGet(myurl)) {
  			location.reload();
    	}
	}
	function elemHandler(event)
	{
		if(event.keyCode == 13) {
		  createElement('{@database_identifier}','{@dimension_identifier}',document.getElementById('new_element').value,document.getElementById('new_children').value);
		}
	}
	</script>
    <div id="surround" align="center">
      <div id="container">
        <div id="clientHeader">&nbsp;</div>

        <div id="left">
          <a class="nav" href="/">Home</a>     
          <a class="nav" href="/browser">Server browser</a>     
          <a class="nav" href="/api">API Documentation</a>     
          <a class="nav" href="http://www.jedox.com">Jedox OLAP Home</a>     
        </div>

        <div id="center">
          <div style="margin: 10px;">
            <h1>Jedox OLAP server browser</h1>

            <table cellpadding="2" cellspacing="2" width="100%">
              <tr class="border_table">
                <td colspan="2"><a href="/">home</a> > <a href="/browser">server</a> > <a href="/browser/database?database={@database_identifier}">database</a> > dimension ></td>
              </tr>

							{@message}
							
              <tr>
                <td colspan="2"><h2>Dimension</h2></td>
              </tr>

              <tr>
                <td colspan="2">
                  <table class="border_table" cellpadding="2" cellspacing="1" width="100%">
                    <tr class="doc_table">
                      <td width="20">ID</td>
                      <td           >name</td>
                      <td width="80">num elements</td>
                      <td width="80">max level</td>
                      <td width="80">max indent</td>
                      <td width="80">max depth</td>
                      <td width="80">type</td>
                    </tr>
                    <tr class="value_table">
                      <td>{@dimension_identifier}</td>
                      <td>{@dimension_name}</td>
                      <td class="value_cell">{@dimension_num_elements}</td>
                      <td class="value_cell">{@createdimension_max_level}</td>
                      <td class="value_cell">{@dimension_max_indent}</td>
                      <td class="value_cell">{@dimension_max_depth}</td>
                      <td class="value_cell">{@dimension_type}</td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                  <table class="border_table" cellpadding="2" cellspacing="1" width="100%">
                    <tr class="doc_table">
                      <td width="80">action</td>
                      <td           >description</td>
                    </tr>
                    <tr class="value_table">                    
                      <td><a href="/browser/database?database={@database_identifier}&dimension={@dimension_identifier}&action=delete_dimension">delete</a></td>
                      <td>Delete dimension from memory.</td>
                    </tr>                    
                  </table>
                </td>
              </tr>

              <tr>
                <td colspan="2"><h2>Elements</h2></td>
              </tr>

              <tr>
                <td colspan="2">
                  <table class="border_table" cellpadding="2" cellspacing="1" width="100%">
                    <tr class="doc_table">
                      <td width="20">position</td>
                      <td width="20">ID</td>
                      <td           >name</td>
                      <td width="70">type</td>
                      <td width="40">level</td>
                      <td width="40">indent</td>
                      <td width="40">depth</td>
                      <td width="50">parents</td>
                      <td width="50">children</td>
                    </tr>
LOOP @element_identifier
                    <tr class="value_table">
                      <td>{@element_position[]}</td>
                      <td><a href="/browser/element?database={@database_identifier}&dimension={@dimension_identifier}&element={@element_identifier[]}">{@element_identifier[]}</a></td>
                      <td><a href="/browser/element?database={@database_identifier}&dimension={@dimension_identifier}&element={@element_identifier[]}">{@element_name[]}</a></td>
                      <td>{@element_type[]}</td>
                      <td class="value_cell">{@element_level[]}</td>
                      <td class="value_cell">{@element_indent[]}</td>
                      <td class="value_cell">{@element_depth[]}</td>
                      <td class="value_cell">{@element_parents[]}</td>
                      <td class="value_cell">{@element_children[]}</td>
                    </tr>
END_LOOP
                    <tr class="value_table">
                    <td></td>
                    <td>*</td>
                    <td><input type="text" id="new_element" onkeyup="elemHandler(event)"><br/>examples: "#months", "Year#2000-2015"</td>
                    <td><input type="text" id="new_children" onkeyup="elemHandler(event)"><br/>examples: "0-10", "s"</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>  
          </div>
        </div>

        <div class="footer">
          <div class="footerText">{@footerText}</div>
        </div>
      </div>
    </div>
  </body>
</html>
