<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Jedox OLAP</title>
    <link href="/inc/style_palo.css" rel="stylesheet" type="text/css">
    <!--[if IE]>
    <style>
      body{
        overflow:auto;
      }
    </style>
    <![endif]-->
  </head>

  <body>
    <div id="surround" align="center">
      <div id="container">
        <div id="clientHeader">&nbsp;</div>

        <div id="left">
          <a class="nav" href="/">Home</a>     
          <a class="nav" href="/browser">Server browser</a>     
          <a class="nav" href="/api">API Documentation</a>     
          <a class="nav" href="http://www.jedox.com">Jedox OLAP Home</a>     
        </div>

        <div id="center">
          <div style="margin: 10px;">
            <h1>Jedox OLAP server {@version}</h1>

            <table cellpadding="2" cellspacing="2" width="100%">


              <tr class="border_table">
                <td colspan="2">home > </td>
              </tr>

              <tr>
                <td colspan="2">This is the Jedox OLAP database {@version}.</td>
              </tr>

              <tr>
                <td colspan="2"><h2>HTTP API</h2></td>
              </tr>

              <tr>
                <td colspan="2">The Jedox OLAP server provides a HTTP API for getting and setting data. 
                For more in formation about the API click <a href="/api">here</a>.</td>
              </tr>

              <tr>
                <td colspan="2"><h2>Server Browser</h2></td>
              </tr>

              <tr>
                <td colspan="2">You can find the server browser <a href="/browser">here</a>.</td>
              </tr>

            </table>  
          </div>
        </div>

        <div class="footer">
          <div class="footerText">Copyright 2005-2013 Jedox AG</div>
        </div>
      </div>
    </div>
  </body>
</html>
